.message {
    min-width: 200px;
    max-width: 335px; 
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    color:white;
    font-size: .93em;
    padding: 6px;
    margin-bottom: 4px;
}

.marks {
    margin-left: 8px;
}

.marks .time {
    margin-top: 4px;
    margin-right: 2px;
    font-size: 0.68em;
    color: rgb(212, 212, 212);
}

.marks .bot-mark {
    font-size: 0.56em;
    color: rgb(212, 212, 212);
}

.input-message {
    background: rgb(70, 60, 140);
}


.output-message {
    background: rgb(30, 150, 170);
}



/* .input-message:before {
    content: "";
    width: 0; 
    height: 0;
    position: absolute; 
    right: 100%; 
    top: calc(50% - 12px);
    border-top: 12px solid transparent;
    border-right: 24px solid rgb(70, 60, 140);
    border-bottom: 12px solid transparent;
}

.output-message:after {
    content: "";
    width: 0; 
    height: 0;
    position: absolute; 
    left: 100%; 
    top: calc(50% - 12px);
    border-top: 12px solid transparent;
    border-left: 24px solid  rgb(30, 150, 170);
    border-bottom: 12px solid transparent;
} */
