.list-item .label {
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    cursor: pointer;
    display: inline-block;
}

.list-item .comment {
    font-size: 0.9rem;
    color: grey;
}

.list-item .dates {
    font-size: 0.9rem;
    color: grey;
    margin-left: 4px;
    display: inline-block;
}
