.course-list-item .label {
    font-size: 1.2rem;
    cursor: pointer;
    display: inline-block;
}

.course-list-item .comment {
    font-size: 0.9rem;
    color: grey;
}

.course-list-item .duration {
    font-size: 0.9rem;
    color: grey;
    margin-left: 4px;
    display: inline-block;
}

.course-list-item .btn {
    width: 40px;
    margin-right: 5px;
  }